.App {
  text-align: center;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* .MuiFab-sizeSmall {
  height: 20;
} */

@keyframes spin {
  0% {
    transform: translate(0, 0) scale(1) rotateY(0deg);
  }
  25% {
    transform: translate(-5rem, -5rem) scale(1) rotateY(90deg);
  }
  50% {
    transform: translate(-5rem, 5rem) scale(1) rotateY(180deg);
  }
  75% {
    transform: translate(5rem, 5rem) scale(1) rotateY(270deg);
  }
  100% {
    transform: translate(0rem, 0rem) scale(1) rotateY(360deg);
  }
}

.spin-animation {
  animation: spin 2s linear forwards;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: rgb(71, 85, 85);
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.hexagon-icon {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

th, td {
  /* padding: 1;
  text-align: left; */
  border: solid 2px rgb(188, 185, 185);
}

td { 
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 1000;
  text-transform: none;
  margin: 0px auto 0;
  width: fit-content;
  color: rgb(206, 203, 203);
}


.text_shadows_fight_announcement {
    /* position: absolute; */
    /* top: 50%;  */
    /* right: 50%; */
    /* transform: translate(80%,50%); */
    text-transform: uppercase;
    font-family: verdana;
    font-size: 8em;
    font-weight: 700;
    color: #973232;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.name_text_below_health_bar {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 600;
    color: #ab3613;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    /* text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191, */
}